.map-container {
    border: 1px solid black;
    left: 0px;
    right: 0px;
    height: 66%;
}

.layout-container {
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.controls-container {
    display: block;
    
}

.mirs-div-icon-2018 {
    background-image:  url('../img/basketball-2018-32.png');
    background-repeat: no-repeat no-repeat;
    padding: 0px 0px 0px 32px;
}

.mirs-div-icon-2018 p {
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: auto;
    background: rgba(255,255,255,0.5);
}

.mirs-div-icon-2019 {
    background-image:  url('../img/basketball-2019-32.png');
    background-repeat: no-repeat no-repeat;
    padding: 0px 0px 0px 32px;

}

.mirs-div-icon-2019 p {
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: auto;
    background: rgba(255,255,255,0.5);
}

.mirs-p-icon {
    display: none;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info img {
    width: 1em;
    height: 1em;
    margin-right: 1em;
    margin-top: 2px;
    margin-bottom: -2px;
}