.layer-selection-icon {
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.2em;
}

.leaflet-control-layers {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.leaflet-popup-content p {
    margin: 0px 0px 0px 0px;
}

.popup-title {
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.popup-content {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
}