.map-container {
    border: 1px solid black;
    width: 100%;
    height: 520px;
}

.layout-container {
    display: grid;
    grid-template-columns: auto 20em;
    grid-gap: 2em;
}

.controls-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 2em;
    grid-gap: 0.2em;
}

.control-item {
    align-self: center;
}

.control-item-field__xxsmall {
    width: 1em;
}

.control-item-field__xsmall {
    width: 2em;
}

.control-item-field__small {
    width: 3em;
}

.control-item-field__medium {
    width: 6em;
}

.numeric-field {
    text-align: right;
    font-family: 'Consolas','Courier New', Courier, monospace;
    font-weight: bold;
    padding-right: 0.5em;
    margin-right: 0.2em;
}